div#main-content{
    margin-top: 0!important;
}
.login__area{
    height:100vh;
    padding-top: 124px!important;
    padding-bottom: 60px!important;
    background: url(https://i.ibb.co/PYZwyGz/Image-Background.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left center;
}