@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/*
font-family: 'Inter', sans-serif;
*/

p{
    margin: 0!important;
}

/*** Login Area Start ***/

div#main-content{
    margin-top: 0!important;
}
.login__area{
    height:100%;
    min-height: 100vh;
    padding-top: 124px!important;
    padding-bottom: 60px!important;
    background: linear-gradient(to top, #00000061,#00000061), url(https://i.ibb.co/PYZwyGz/Image-Background.png);
    background-repeat: no-repeat;
    background-size: 50% 100%;
    background-position: left center;
}
.login__area-left{
    display: flex;
    height: 100%;
    min-height: 760px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.login__area-left h3{
    font-family: 'Inter', sans-serif!important;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin: 0;
    margin-top: -144px !important;
}
.login__area-left p{
    font-family: 'Inter',sans-serif!important;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 20px;
    color: #FFFFFF;
    letter-spacing: 0.05rem;
}
.login__area-right{
    padding-left:48px!important;
    display: flex;
    height: 100%;
    min-height: 760px;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}
.login__area-right p:last-child{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}
.login__area-right div h2{
    margin-top: 0;
    margin-bottom: 36px;
    font-size: 26px;
    font-weight:600;
}
.login__area-right div h2,
.login__area-right div p{
    font-family: 'Inter',sans-serif!important;
    font-style: normal;
    line-height: 28px;
    color: #000000;
}
.login__area-right div p.text-muted{
    margin-bottom: 96px!important;
    font-size: 19px;
    font-weight:500;
}


.login__area-right div form .form-group label{
    font-family: 'Inter',sans-serif!important;
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 12px;
    color: #000000;
    margin-bottom: 8px;
}
.login__area-right div form .form-group input{
    font-family: 'Inter',sans-serif!important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    border-radius: 0;
    padding:11px 20px;
    border: 1px solid #D9D9D9;
    height: unset!important;
}
.login__area-right div form .form-group input:focus{
    box-shadow: none !important;
}
.login__area-right div form .form-group{
    margin-bottom: 32px!important;
}
.login__area-right div form button{
    font-family: 'Inter',sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    background: #000000;
    border: 1px solid #000000;
    letter-spacing: 0.095em;
    text-transform: uppercase;
    border-radius: 0;
    box-shadow: none;
    padding: 13px 0;
}
.login__area-right div form p.padding-20-0 a{
    font-family: 'Inter',sans-serif!important;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-decoration-line: underline!important;
    color: #000000;
}
.login__area-right div form span.text-danger{
    font-size: 14px;
    margin-bottom: 9px;
    display: inline-block;
}
.login__area-right p:last-child a{
    text-decoration: none!important;
}
/*** Login Area Start ***/

















/* Medium Laptop Media Query */
@media (min-width: 768px) and (max-width:991px) {

    /* Login Area Start */
    .login__area{
        padding-top: 72px!important;
        background-size: 100% 50%;
        background-position: top center;
    }
    .login__area-left h3{
        margin-top: 0!important;
        max-width: 72%!important;
    }
    .login__area-left,
    .login__area-right{
        min-height:400px;
    }

    .login__area-right{
        padding-top: 136px!important;
        padding-left: 0!important;
    }
    .login__area-right div{
        width: 100%;
    }
    .login__area-right div h2 {
        margin-bottom: 24px;
    }
    .login__area-right div p.text-muted {
        margin-bottom: 32px!important;
    }
    /* Login Area End */

}


/* Medium Laptop Media Query */
@media (min-width: 992px) and (max-width:1199px) {

    /* Login Area Start */
    .login__area{
        padding-top: 72px!important;
        background-size: 100% 50%;
        background-position: top center;
    }
    .login__area-left h3{
        margin-top: 0!important;
        max-width: 60%!important;
    }
    .login__area-left,
    .login__area-right{
        min-height:400px;
    }

    .login__area-right{
        padding-top: 136px!important;
        padding-left: 0!important;
    }
    .login__area-right div{
        width: 100%;
    }
    .login__area-right div h2 {
        margin-bottom: 24px;
    }
    .login__area-right div p.text-muted {
        margin-bottom: 32px!important;
    }
    /* Login Area End */

}

/*Extra Large Device Media Query*/
@media (min-width: 1200px) and (max-width:1399px){
    /* Login Area Start */
    .login__area{
        padding-top: 80px!important;
    }
    .login__area-left,
    .login__area-right{
        height:100%;
        min-height:560px;
    }
    .login__area-right div p.text-muted{
        margin-bottom: 64px!important;
    }
    /* Login Area End */
}

/*Extra Large Device Media Query*/
@media (min-width: 1400px) and (max-width:1599px){
    /* Login Area Start */
    .login__area{
        padding-top: 104px!important;
    }
    .login__area-left,
    .login__area-right{
        height:100%;
        min-height:600px;
    }
    /* Login Area End */
}